.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background: #D4D4D4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

.card-container p {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

[class^="div-"] {
    height: 24px;
    display: flex;
    align-items: center;
} 

.card-container .info {
    margin-top: 8px;
    margin-left: 20px;
    padding: 0;
    text-decoration: underline;
    overflow-x: scroll;
}

.card-container .info::-webkit-scrollbar{
    height: 8px;
}

.card-container .info::-webkit-scrollbar-thumb {
    background-color: #C9C9C9;  
  border-radius: 20px;      
  border: 3px solid white;
}

.card-field {
    /* display: inline; */
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 730px;
    padding: 35px 0px 35px 0px;
    border-radius: 30px;
    border: 1px solid #C9C9C9;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-header {
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.card-backicon:hover{
    filter: opacity(0.6);
}

.card-title {
    margin: 10px 0 0 170px;
    width: 250px;
}

.card-information {
    padding: 50px 10px 0px 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 34px) auto;
    grid-gap: 20px;
    grid-template-areas:
    "fullname fullname"
    "education education"
    "speciality speciality"
    "degree course"
    "phone email"
    "telegram vk"
    "status status"
    "test test"
}

.div-full_name {
    grid-area: fullname;
}

.div-university {
    grid-area: education;
}

.div-speciality {
    grid-area: speciality;
}

.div-degree {
    grid-area: degree;
}

.div-course {
    grid-area: course;
}

.div-phone {
    grid-area: phone;
}

.div-email {
    grid-area: email;
}

.div-telegram {
    grid-area: telegram;
}

.div-vk {
    grid-area: vk;
}

.div-status {
    grid-area: status;
}

#test-result {
    overflow: hidden;
}

.about-me {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #C9C9C9;
}

.flex-box {
    display: flex;
    align-items: flex-end;
    /* justify-content:center; */
    gap: 63px;
}

.stud-test-results {
    /* margin-top: -40px; */
    margin-left: 120px;
    margin-right: auto;
    height: 100px;
}

.test-info p {
    white-space: wrap;
    width: 268px;
    text-align: center;
    margin-bottom: 10px;
}

.card-button,
.deny-button,
.change-status-btn {
    width: 200px;
    height: 50px;
    padding: 13px 44px;
    font-size: 20px;
}

.change-status-btn {
    width: 300px;
    margin-left: 80px;
}

.text,
.info,
.student-status {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stud-test-results option {
    font-size: 17px;
}

.student-status {
    width: 200px;
}