.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background: #D4D4D4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

.card-container p {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

[class^="div-"] {
    height: 24px;
    display: flex;
    align-items: center;
} 

.card-container .info {
    margin-top: 8px;
    margin-left: 20px;
    padding: 0;
    text-decoration: underline;
    overflow-x: scroll;
}

.card-container .info::-webkit-scrollbar{
    height: 8px;
}

.card-container .info::-webkit-scrollbar-thumb {
    background-color: #C9C9C9;  
  border-radius: 20px;      
  border: 3px solid white;
}

.card-field {
    display: inline;
    width: 1130px;
    height: 730px;
    padding: 35px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #C9C9C9;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-header {
    display: flex;
}

.card-backicon:hover{
    filter: opacity(0.6);
}

.card-title {
    margin: 10px 0 0 262px;
}

.card-information {
    padding: 10px 30px 35px 93px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 24px) auto;
    grid-gap: 20px;
    grid-template-areas:
    "fullname fullname"
    "education education"
    "speciality speciality"
    "degree course"
    "phone email"
    "telegram vk"
    "about-me about-me"
}

.div-full_name {
    grid-area: fullname;
}

.div-university {
    grid-area: education;
}

.div-speciality {
    grid-area: speciality;
}

.div-degree {
    grid-area: degree;
}

.div-course {
    grid-area: course;
}

.div-phone {
    grid-area: phone;
}

.div-email {
    grid-area: email;
}

.div-telegram {
    grid-area: telegram;
}

.div-vk {
    grid-area: vk;
}

.div-about-me {
    grid-area: about-me;
}

#test-result {
    overflow: hidden;
}

.about-me {
    margin-top: 20px !important;
    display: block !important;
    width: 480px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #C9C9C9;
}

.flex-box {
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    gap: 63px;
}

.flex-box .vertical {
    flex-direction: column;
}

.flex-box .center {
    align-items: center;
}

.flex-box .test-info {
    gap: 0;
}

.test-info p {
    white-space: wrap;
    width: 268px;
    text-align: center;
    margin-bottom: 10px;
}

.card-button {
    width: 200px;
    height: 50px;
    padding: 13px 44px;
    font-size: 20px;
}