.row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100px;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 16px;
}

.row:hover{
    background-color: #DEDEDE;
}

.row td {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    line-height: normal;
    letter-spacing: normal;
    font-size: 22px;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.row td h2 {
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.vk-link,
.email,
.uni,
.direction,
.course,
.results  {
    justify-content:left !important;
    padding-top: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.fio{
    margin: 0;
    width: 340px;
}

.status {
    margin: 0;
    width: 220px;
}

.phone-number{
    margin: 0;
    width: 242px;
}

.vk-link {
    margin: 0;
    width: 174px;
}

.email {
    margin: 0;
    margin-left: 10px;
    width: 140px;
}

.uni{
    margin: 0;
    margin-left: 10px;
    width: 152px;
}

.direction{
    margin: 0;
    width: 184px;
}

.course{
    margin: 0;
    margin-left: 10px;
    width: 76px;
}

.degree {
    margin: 0;
    width: 162px;
}

.results {
    margin: 0;
    width: 154px;
}